
.sidebar {
  background-image: url("../assets/img/global/bkg.png");
  width: 260px;
  overflow: auto;
  text-align: center;
  position: fixed;
  overflow: none;
}

.sidebar-border {
  background-image: url("../assets/img/global/border.png");
  width: 6px;
  padding: 0px;
  position: fixed;
  margin-left: 18rem;
  overflow: none;
}

.sidebar h1 {
  line-height: 1;
  font-size: 28pt;
}

#logo{
	display: inline-block;
}

#sidebar-bottom {
  margin-top: 2.5rem;
}

#sidebar-bottom .icon {
  width: 42px;
  height: 42px;
}
